<launch>
  <arg name="detected_objects_range" default="/detection/lidar_detector/objects"/>
  <arg name="detected_objects_vision" default="/detection/image_detector/objects"/>
  <arg name="camera_info_src" default="/camera_info"/>
  <arg name="min_car_dimensions" default="[3,2,2]"/>
  <arg name="min_person_dimensions" default="[1,2,1]"/>
  <arg name="min_truck_dimensions" default="[4,2,2]"/>
  <arg name="sync_topics" default="false"/>
  <arg name="overlap_threshold" default="0.6"/>
  <arg name="use_vector_map" default="false"/>
  <arg name="namespace" default="/detection/fusion_tools"/>

  <node name="range_vision_fusion_left" pkg="range_vision_fusion" type="range_vision_fusion" output="screen">
    <param name="detected_objects_vision" value="/detection/vision_objects_left"/>
    <param name="output_topic" value="/detection/fusion_tools/objects_left"/>
    <param name="output_jsk_topic" value="/detection/fusion_tools/objects_jsk_left"/>
    <param name="sync_topics" value="$(arg sync_topics)"/>
    <param name="overlap_threshold" value="$(arg overlap_threshold)"/>
  </node>

  <node name="range_vision_fusion_right" pkg="range_vision_fusion" type="range_vision_fusion" output="screen">
    <param name="detected_objects_vision" value="/detection/vision_objects_right"/>
    <param name="output_topic" value="/detection/fusion_tools/objects_right"/>
    <param name="output_jsk_topic" value="/detection/fusion_tools/objects_jsk_right"/>
    <param name="sync_topics" value="$(arg sync_topics)"/>
    <param name="overlap_threshold" value="$(arg overlap_threshold)"/>
  </node>



</launch>